<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <ul>
        {% for message in messages %}
            <li>
                <form action="/ozel_ogr_msj" method="post">
                    {% if message[3].strip() == 'hoca' %}
                        <input type="hidden" name="name" value="{{ message[1] }}">
                        <button type="submit">Kişi: {{ message[1] }} - Son mesaj: {{ message[4] }}</button>
                    {% elif message[3].strip() == 'users' %}
                        <input type="hidden" name="name" value="{{ message[2] }}">
                        <button type="submit">Kişi: {{ message[2] }} - Son mesaj: {{ message[4] }}</button>
                    {% endif %}
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
